body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topo, .rodape, .lateral-esquerda, .lateral-direita, .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.topo {
    background-color: green;
    flex: 0 1 50px;
}

.rodape {
    background-color: limegreen;
    flex: 0 1 50px;
}

.conteudo-wrapper {
    display: flex;
    flex-grow: 1;
}

.lateral-esquerda, .lateral-direita {
    background-color: blue;
    width: 150px;
    flex-shrink: 0;
}

.conteudo {
    background-color: cyan;
    flex-grow: 1;
}
